.post-meta-container {

  .meta-title .fa {
    display: inline-block;
    margin-right: 0.5rem;
    color: $yellow;
  }

  .meta-author,
  .meta-time {
    margin-top: 0.5rem; // Keep meta title align with share icons
  }

  .meta-author {
    a { color: $blue; }
    a:hover { color: darken($blue, 10%); }
  }
}