.recently-post {
  margin-top: 2.5rem;

  .section-title {
    font-weight: bold;
  }

  .post-list {
    margin-left: 0;
    list-style: none;

    .post-item {
      height: 11rem;
      padding: 1rem 0;
      border-bottom: 1px solid $gray;

      .post-image-container {
        position: relative;
        float: left;
        width: 10rem;
        height: 100%;
        margin-right: 1rem;
        overflow: hidden;

        .post-image {
          position: absolute;
          width: 100%;
        }
      }

      .post-title {

      }

      .post-content {
        line-height: 1.6;
        color: $text-color;
      }
    }
  }
}