.share-icons-container {
  float: left;
  margin-bottom: 1rem;

  .share-icons-title {
    display: inline-block;
    vertical-align: 80%;
    font-size: 1rem;
  }

  .share-icons {
    display: inline-block;
    margin: 0;
    list-style: none;

    li {
      float: right;

      > a {
        display: block;
      }
    }

    .icon-email {
      @include fa-icon("\f0e0", 1.5rem, $orange, $white);
    }

    .icon-facebook {
      @include fa-icon("\f09a", 1.5rem, #3b5998, $white);
    }

    .icon-twitter {
      @include fa-icon("\f099", 1.5rem, #5ea9dd, $white);
    }

    .icon-line {
      display: inline-block;
      width: 2.25rem;
      height: 2.25rem;
      margin-right: 0.5rem;
      background-image: url(../../assets/img/icons/line-30.png);
      background-position: 50% 50%;
      background-size: cover;
    }
  }
}

@media #{$small-only} {
  .share-icons-container { margin-top: 1rem; }
}


@media #{$large-up} {
  .share-icons-container {
    float: right;

    .share-icons-title { vertical-align: 50%; }
  }
}
