@mixin fa-icon($content, $font-size, $bgcolor, $color) {
  position: relative;
  display: inline-block;
  width: $font-size * 1.5;
  height: $font-size * 1.5;
  color: $color;
  margin: 0 0.5rem 0 0;
  border-radius: 0.15rem;
  background: $bgcolor;
  text-align: center;

  &:before {
    display: inline-block;
    font-family: "fontawesome";
    content: $content;
    font-size: $font-size;
    font-style: normal;
    color: $color;
  }
}

.social-icons {
  list-style: none;
  margin: 0;

  li {
    float: right;
  }

  .icon-email {
    @include fa-icon("\f0e0", 2rem, $orange, $white);
  }

  .icon-facebook {
    @include fa-icon("\f09a", 2rem, #3b5998, $white);
  }

  .icon-twitter {
    @include fa-icon("\f099", 2rem, #5ea9dd, $white);
  }

  .icon-line {
    @include fa-icon("\f075", 2rem, #00c300, $white);
  }

}