.content-t1 {
  font-size: 1.5rem;
}

.content-t2 {
  font-size: 1.4rem;
}

.content-t3 {
  font-size: 1.3rem;
}

.content-list {
  padding-left: 2.5rem;

  li {
    font-size: 1.2rem;
    margin: .75rem 0;
  }
}

.content-quote,
.content-quote p {
  font-size: 1.1rem !important;
}

