@import "../base/mixins";

/* -------------------------------------------- \
  WP-login pages global settings
\ --------------------------------------------- */
body.login {

  //Add a Custom Background
  background-color: $blue;
  background-image: url('../../assets/img/flying.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  // Replace the WordPress Logo With a Custom Logo
  h1 a {
    width: 100%;
    height: 90px;
    background-image: url('../../assets/img/logos/logo-black.png');
    background-size: contain;
  }

  // Customize the Look of the Login Form
  #login_error {
    padding: .5rem;
    border-radius: 5px;
    background-color: lighten($red, 20%);
    font-size: 1rem;
    color: $red;
  }

  #loginform {
    border: 0;
    border-radius: 5px;
    background-color: $form-bg-color;
    box-shadow: 0 4px 0 0 $form-bg-shadow;

    label {
      font-size: 1.1rem;
      margin-bottom: 5px;
    }

    input[type="text"],
    input[type="password"] {
      box-sizing: border-box;
      padding: 0.6rem 1.2rem;
      border: 0;
      box-shadow: 0 4px 0 0 #e5e5e5;
      border-radius: 5px;
      font-size: 1rem;
      background-color: $white;
      color: $input-color;
    }

    .forgetmenot {
      line-height: 30px;

      label { font-size: .9rem; }
    }

    // Customized Log-in Button
    .button-primary {
      width: 120px;
      float: right;
      border: 0;
      border-radius: 5px;
      background-color: $yellow;
      color: $white;
      font-size: 1.1rem;

      &:hover,
      &:active,
      &:focus {
        background-color: darken($yellow, 10%);
        transition: all .2s ease-in;
        outline: 0;
      }

    }
  }

  // Remove "Forget Password" and "Back to" links
  #nav,
  #backtoblog {
   display: none;
 }
}