@mixin cta-btn($bg-color: $primary-color, $color: $white, $press-distance: 4px) {
  display: block;
  min-width: 5rem;
  border-radius: 8px;
  box-shadow: 0 $press-distance 0 0 darken($bg-color, 10%);
  background-color: $bg-color;
  color: $color;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;

  &:hover {
    background-color: darken($bg-color, 7%);
    margin-top: $press-distance;
    margin-bottom: 20px - $press-distance;
  }

  &:active {
    background-color: darken($bg-color, 10%);
    margin-top: $press-distance;
    margin-bottom: 20px - $press-distance;
  }
}