/**
 * [heading: the headline component for pages without stamps]
 * @param  {[string]} $header-img [background image for headlines]
 */
@mixin page-heading($header-img, $type: page, $pos-x: 50%, $pos-y: 54%) {
  .page-heading-container {
    position: relative;
    height: 34vh;
    margin-bottom: 4rem;
    @if $type == page {
      background-image: url('../../assets/img/#{$header-img}');
    } @elseif $type == post {
      background-image: url('../assets/img/#{$header-img}');
    } @else {
      background-image: url('../../assets/img/#{$header-img}');
    }
    background-size: cover;
    background-position: $pos-x $pos-y;

    .page-title {
      position: absolute;
      top: 14vh;
      left: 9.7vw;
      padding: .25rem 1.25rem;
      font-weight: bold;
      background-color: $black;
      color: $white;
      border-radius: 5px;
    }
  }
}