/*
	My custom settings. These variables are copied from _settings.css
	This file will only contain uncommented settings that are actually used in the theme.
*/
.as-contact-form {
  margin-bottom: 2rem; }
  .as-contact-form label {
    padding-bottom: 0.3rem;
    font-size: 1rem; }
  .as-contact-form input[type="text"], .as-contact-form textarea {
    border-width: 3px; }
  .as-contact-form textarea {
    min-height: 5rem; }
  .as-contact-form input[type="submit"] {
    min-width: 5rem;
    border-radius: 8px;
    box-shadow: 0 4px 0 0 #e8af19;
    background-color: #EDBF47;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.3rem;
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 0.3rem 0;
    margin-bottom: 0; }
    .as-contact-form input[type="submit"]:hover {
      background-color: #eab426;
      margin-top: 4px;
      margin-bottom: -4px; }
    .as-contact-form input[type="submit"]:active {
      background-color: #e8af19;
      margin-top: 4px;
      margin-bottom: -4px; }
    .as-contact-form input[type="submit"]:hover, .as-contact-form input[type="submit"]:active {
      margin-bottom: 0; }

/**
 * [jumbotron: the headline component for intro pages]
 * @param  {[string]} $header-img [background image for headlines]
 * @param  {[string]} $stamp-img  [background image for stamp image]
 * @dependencies {[mixin]} stamp-image
 */
/**
 * [heading: the headline component for pages without stamps]
 * @param  {[string]} $header-img [background image for headlines]
 */
.recently-post {
  margin-top: 2.5rem; }
  .recently-post .section-title {
    font-weight: bold; }
  .recently-post .post-list {
    margin-left: 0;
    list-style: none; }
    .recently-post .post-list .post-item {
      height: 11rem;
      padding: 1rem 0;
      border-bottom: 1px solid #9CADB6; }
      .recently-post .post-list .post-item .post-image-container {
        position: relative;
        float: left;
        width: 10rem;
        height: 100%;
        margin-right: 1rem;
        overflow: hidden; }
        .recently-post .post-list .post-item .post-image-container .post-image {
          position: absolute;
          width: 100%; }
      .recently-post .post-list .post-item .post-content {
        line-height: 1.6;
        color: #999999; }

/* -------------------------------------------- \
  Front-page layouts settings
\ --------------------------------------------- */
.home .as-section-container {
  position: relative;
  height: 100vh;
  color: #FFFFFF; }
  .home .as-section-container .section-header {
    margin-bottom: 4rem; }
    .home .as-section-container .section-header .section-title {
      position: absolute;
      top: -2rem;
      width: 100%;
      min-width: 15rem;
      padding: 0.2rem 1.5rem;
      border-radius: 8px;
      background-color: #000000;
      font-weight: bold;
      color: #FFFFFF; }
    .home .as-section-container .section-header .section-image {
      position: absolute;
      top: -15rem;
      min-width: 25rem;
      min-height: 25rem;
      border: 0.5rem solid #FFFFFF;
      border-radius: 25rem;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center; }
  .home .as-section-container .section-content {
    width: 55%;
    font-weight: bold;
    font-size: 1.5rem; }
  .home .as-section-container .section-action-group {
    clear: both; }
  .home .as-section-container.fp-first {
    background-color: #FFFFFF; }
  .home .as-section-container.fp-right .section-header .section-title {
    text-align: right; }
  .home .as-section-container.fp-right .section-header .section-image {
    left: -5rem; }
  .home .as-section-container.fp-right .section-content, .home .as-section-container.fp-right .section-action-group {
    float: right; }
  .home .as-section-container.fp-left .section-header .section-title {
    text-align: left; }
  .home .as-section-container.fp-left .section-header .section-image {
    right: -5rem; }
  .home .as-section-container.fp-left .section-content, .home .as-section-container.fp-left .section-action-group {
    float: left; }

/* -------------------------------------------- \
  Front page head-fold style
\ --------------------------------------------- */
.home .fp-first .page-title {
  margin-top: 24vh;
  font-weight: bold;
  font-size: 3.55rem;
  color: #FFFFFF; }

/* -------------------------------------------- \
  Front page section background-color
\ --------------------------------------------- */
.home .as-section-container#fp-section-1 {
  border-top: 0 solid #FFFFFF;
  background-color: #FFFFFF; }
.home .as-section-container#fp-section-2 {
  border-top: 5rem solid #74CEE4;
  background-color: #EDBF47; }
.home .as-section-container#fp-section-3 {
  border-top: 5rem solid #E16C6C;
  background-color: #6FC191; }
.home .as-section-container#fp-section-4 {
  border-top: 5rem solid #74CEE4;
  background-color: #EDBF47; }
.home .as-section-container#fp-section-5 {
  border-top: 5rem solid #C389CE;
  background-color: #EC774B; }

/* -------------------------------------------- \
  Front page section image source
\ --------------------------------------------- */
#fp-section-1 {
  background-image: url('../../assets/img/home.png');
  background-position: 108% 10%;
  background-size: 78%; }

#fp-img-2 {
  background-image: url('../../assets/img/ballon.png'); }

#fp-img-3 {
  background-image: url('../../assets/img/plane.png'); }

#fp-img-4 {
  background-image: url('../../assets/img/paperplane.png'); }

#fp-img-5 {
  background-image: url('../../assets/img/rocket.png'); }

/* -------------------------------------------- \
  Front page cta-btn style
\ --------------------------------------------- */
.home .as-section-container .section-action-group #cta-2 {
  min-width: 5rem;
  border-radius: 8px;
  box-shadow: 0 4px 0 0 #49bfdc;
  background-color: #74CEE4;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer; }
  .home .as-section-container .section-action-group #cta-2:hover {
    background-color: #56c3de;
    margin-top: 4px;
    margin-bottom: -4px; }
  .home .as-section-container .section-action-group #cta-2:active {
    background-color: #49bfdc;
    margin-top: 4px;
    margin-bottom: -4px; }
.home .as-section-container .section-action-group #cta-3 {
  min-width: 5rem;
  border-radius: 8px;
  box-shadow: 0 4px 0 0 #d84242;
  background-color: #E16C6C;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer; }
  .home .as-section-container .section-action-group #cta-3:hover {
    background-color: #db4e4e;
    margin-top: 4px;
    margin-bottom: -4px; }
  .home .as-section-container .section-action-group #cta-3:active {
    background-color: #d84242;
    margin-top: 4px;
    margin-bottom: -4px; }
.home .as-section-container .section-action-group #cta-4 {
  min-width: 5rem;
  border-radius: 8px;
  box-shadow: 0 4px 0 0 #49bfdc;
  background-color: #74CEE4;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer; }
  .home .as-section-container .section-action-group #cta-4:hover {
    background-color: #56c3de;
    margin-top: 4px;
    margin-bottom: -4px; }
  .home .as-section-container .section-action-group #cta-4:active {
    background-color: #49bfdc;
    margin-top: 4px;
    margin-bottom: -4px; }
.home .as-section-container .section-action-group #cta-5 {
  min-width: 5rem;
  border-radius: 8px;
  box-shadow: 0 4px 0 0 #b165bf;
  background-color: #C389CE;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer; }
  .home .as-section-container .section-action-group #cta-5:hover {
    background-color: #b670c4;
    margin-top: 4px;
    margin-bottom: -4px; }
  .home .as-section-container .section-action-group #cta-5:active {
    background-color: #b165bf;
    margin-top: 4px;
    margin-bottom: -4px; }


/*# sourceMappingURL=../pages/front-page.css.map */