/*
	My custom settings. These variables are copied from _settings.css
	This file will only contain uncommented settings that are actually used in the theme.
*/
.as-contact-form {
  margin-bottom: 2rem; }
  .as-contact-form label {
    padding-bottom: 0.3rem;
    font-size: 1rem; }
  .as-contact-form input[type="text"], .as-contact-form textarea {
    border-width: 3px; }
  .as-contact-form textarea {
    min-height: 5rem; }
  .as-contact-form input[type="submit"] {
    min-width: 5rem;
    border-radius: 8px;
    box-shadow: 0 4px 0 0 #e8af19;
    background-color: #EDBF47;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.3rem;
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 0.3rem 0;
    margin-bottom: 0; }
    .as-contact-form input[type="submit"]:hover {
      background-color: #eab426;
      margin-top: 4px;
      margin-bottom: -4px; }
    .as-contact-form input[type="submit"]:active {
      background-color: #e8af19;
      margin-top: 4px;
      margin-bottom: -4px; }
    .as-contact-form input[type="submit"]:hover, .as-contact-form input[type="submit"]:active {
      margin-bottom: 0; }

/**
 * [jumbotron: the headline component for intro pages]
 * @param  {[string]} $header-img [background image for headlines]
 * @param  {[string]} $stamp-img  [background image for stamp image]
 * @dependencies {[mixin]} stamp-image
 */
/**
 * [heading: the headline component for pages without stamps]
 * @param  {[string]} $header-img [background image for headlines]
 */
.recently-post {
  margin-top: 2.5rem; }
  .recently-post .section-title {
    font-weight: bold; }
  .recently-post .post-list {
    margin-left: 0;
    list-style: none; }
    .recently-post .post-list .post-item {
      height: 11rem;
      padding: 1rem 0;
      border-bottom: 1px solid #9CADB6; }
      .recently-post .post-list .post-item .post-image-container {
        position: relative;
        float: left;
        width: 10rem;
        height: 100%;
        margin-right: 1rem;
        overflow: hidden; }
        .recently-post .post-list .post-item .post-image-container .post-image {
          position: absolute;
          width: 100%; }
      .recently-post .post-list .post-item .post-content {
        line-height: 1.6;
        color: #999999; }

/* -------------------------------------------- \
  single-connection layouts settings
\ --------------------------------------------- */
.single .thumbnail-container {
  height: 40vh;
  overflow: hidden; }
  .single .thumbnail-container .wp-post-image {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%); }
.single .main-container {
  margin-top: 2rem; }
  .single .main-container .entry-title {
    font-weight: bold; }
  .single .main-container .entry-content > p {
    font-size: 1.2rem;
    line-height: 2; }
  .single .main-container .entry-meta {
    margin: 2rem 0; }
    .single .main-container .entry-meta .author-card {
      padding: 1rem 1.5rem;
      border-radius: 8px;
      background-color: #EDBF47;
      box-shadow: #bdc3c7 0 5px 5px; }
      .single .main-container .entry-meta .author-card .avatar {
        float: left;
        display: block;
        width: 6rem;
        height: 6rem;
        margin: 0 auto;
        border: 0.4rem solid #FFFFFF;
        border-radius: 6rem; }
      .single .main-container .entry-meta .author-card .author-link {
        float: left;
        display: block;
        margin: 0.75rem 1rem;
        text-align: center;
        color: #FFFFFF;
        font-size: 2.5rem;
        font-weight: bold; }
      .single .main-container .entry-meta .author-card .author-intro {
        clear: both;
        padding-top: 1rem;
        line-height: 2; }
.single #disqus_thread {
  margin: 2rem 0; }


/*# sourceMappingURL=../pages/single-connection.css.map */