@import "../base/mixins";

/* -------------------------------------------- \
  About template layouts settings
\ --------------------------------------------- */
.page {
  font-size: 1.1rem;

  .entry-content p {
    font-size: 1.2rem;
  }

  .main-content-container {
    margin-bottom: 3rem;
  }
}