@import "../base/custom-settings";
@import "../base/component-list";

/* -------------------------------------------- \
  archive-connection layouts settings
\ --------------------------------------------- */
.archive {
  @include page-heading('/headlines/children.jpg');
  font-size: 1.1rem;

  .entry-content p {
    font-size: 1.2rem;
  }

  .card-container {

    .card-item {

      .card-header {

        .card-image-container {
          height: 12rem;
          overflow-y: hidden;
        }

        .card-image {
          width: 100%;
          border-radius: 5px 5px 0 0;
        }

        .card-title {
          margin: 0;
          padding: 0.4rem 0.75rem;
          border-radius: 0 0 5px 5px;
          background-color: $yellow;
          color: $white;
          font-size: 1.5rem;
          text-align: center;
        }
      }

      .card-content {
        padding: 0.75rem 0.4rem;
      }

      .card-footer {
        .button {
          @include cta-btn($blue);
          padding: 0.75rem 1.25rem;
          font-size: 1rem;
        }
      }
    }
  }


}