@import "../base/mixins";

/* -------------------------------------------- \
  Counsel related templates layouts settings
\ --------------------------------------------- */
.page {
  @include page-jumbotron('/headlines/children.jpg', 'rocket.png');
  font-size: 1.1rem;

  .entry-content p {
    font-size: 1.2rem;
  }

  .main-content-container {
    margin-bottom: 3rem;
  }
}