@import "../base/mixins";

/* -------------------------------------------- \
  Front-page layouts settings
\ --------------------------------------------- */
.home {

  .as-section-container {
    position: relative;
    min-height: 100vh;
    color: $card-text-color;

    .section-header {
      margin-top: -1.4rem;
      margin-bottom: 2rem;

      .section-title {
        width: 100%;
        margin-bottom: 2rem;
        padding: 0.2rem 1.5rem;
        text-align: center;
        font-weight: bold;
        background-color: $black;
        color: $white;
        border-radius: 8px;
      }

      .section-image {
        @include stamp-image(40vw, 0.5rem, $white);
        margin: 0 auto;
      }
    }

    .section-content,
    .section-content p {
      font-size: 1.2rem;
    }

    .section-action-group {
      margin: 3rem 0 5rem;
      clear: both;
    }
  }
}

@media #{$large-up} {
  .home {

    .as-section-container {
      .section-header {
        margin-bottom: 4rem;

        .section-title {
          position: absolute;
          top: -2rem;
          min-width: 15rem;
          padding: 0.2rem 1.5rem;
        }

        .section-image {
          position: absolute;
          top: -10.7rem;
          @include stamp-image(25rem, 0.5rem, $white);
        }
      }

      .section-content,
      .section-action-group {
        width: 55%;
        margin-top: 2rem;
      }

      .section-content,
      .section-content > p {
        font-weight: bold;
        font-size: 1.3rem;
      }

      &.fp-right {
        .section-header {
          .section-title { text-align: right; }
          .section-image { left: -2vw; }
        }

        .section-content,
        .section-action-group {
          float: right;
        }
      }

      &.fp-left {
        .section-header {
          .section-title { text-align: left; }
          .section-image { right: -2vw; }
        }

        .section-content,
        .section-action-group {
          float: left;
        }
      }
    }
  }
}

/* -------------------------------------------- \
  Front page head-fold style
\ --------------------------------------------- */
.home .fp-first {
  .page-title {
    margin-top: 10vh;
    padding-left: 5vw;
    font-weight: bold;
    color: $white;

    .main-msg {
      display: block;
      padding-bottom: 1rem;
      font-size: 3rem;
    }

    .sub-msg {
      font-size: 2.5rem;
    }
  }
}

@media #{$large-up} {
  .home .fp-first {
    .page-title {
      margin-top: 24vh;

      .main-msg,
      .sub-msg {
        font-size: 3.55rem;
      }
    }
  }
}

/* -------------------------------------------- \
  Front page section background-color
\ --------------------------------------------- */
$fp1-pri-color: #00cac7;
$fp1-sec-color: $white;
$fp2-pri-color: $yellow;
$fp2-sec-color: $blue;
$fp3-pri-color: $green;
$fp3-sec-color: $red;
$fp4-pri-color: $yellow;
$fp4-sec-color: $blue;
$fp5-pri-color: $orange;
$fp5-sec-color: $purple;

#fp-section-1 { @include fp-section-background(0, $fp1-sec-color, $fp1-pri-color) }
#fp-section-2 { @include fp-section-background(3rem, $fp2-sec-color, $fp2-pri-color, $black) }
#fp-section-3 { @include fp-section-background(3rem, $fp3-sec-color, $fp3-pri-color) }
#fp-section-4 { @include fp-section-background(3rem, $fp4-sec-color, $fp4-pri-color, $black) }
#fp-section-5 { @include fp-section-background(3rem, $fp5-sec-color, $fp5-pri-color) }

@media #{$large-up} {
  #fp-section-2 { border-top-width: 5rem; }
  #fp-section-3 { border-top-width: 5rem; }
  #fp-section-4 { border-top-width: 5rem; }
  #fp-section-5 { border-top-width: 5rem; }
}

/* -------------------------------------------- \
  Front page section image source
\ --------------------------------------------- */
#fp-section-1 {
  background-image: url('../../assets/img/home.png');
  background-position: 0% 95%;
  background-size: 100%;
  background-repeat: no-repeat;
}

#fp-img-2 { background-image: url('../../assets/img/ballon.png'); }
#fp-img-3 { background-image: url('../../assets/img/plane.png'); }
#fp-img-4 { background-image: url('../../assets/img/paperplane.png'); }
#fp-img-5 { background-image: url('../../assets/img/rocket.png'); }

@media #{$large-up} {
  #fp-section-1 {
    background-position: 108% 10%;
    background-size: 78%;
  }
}

/* -------------------------------------------- \
  Front page cta-btn style
\ --------------------------------------------- */
.home .as-section-container .section-action-group {
  #cta-1 {}
  #cta-2 { @include cta-btn($fp2-sec-color) }
  #cta-3 { @include cta-btn($fp3-sec-color) }
  #cta-4 { @include cta-btn($fp4-sec-color) }
  #cta-5 { @include cta-btn($fp5-sec-color) }
}


