@import "../base/mixins";

/* -------------------------------------------- \
  single layouts settings
\ --------------------------------------------- */
.single {
  .thumbnail-container {
    height: 40vh;
    overflow: hidden;

    .wp-post-image {
      transform: translateY(-25%);
    }
  }

  .main-container {
    margin-top: 2rem;

    .entry-title {
      font-weight: bold;
    }

    .entry-content {
      clear: both;

      > p {
        font-size: 1.2rem;
        line-height: 2;
      }
    }

    .entry-meta {
      margin: 2rem 0;
    }
  }

  #disqus_thread {
    margin: 2rem 0;
  }
}
