@import "../base/custom-settings";
@import "../base/component-list";

/* -------------------------------------------- \
  single-connection layouts settings
\ --------------------------------------------- */
.single {
  .thumbnail-container {
    height: 40vh;
    overflow: hidden;

    .wp-post-image {
      transform: translateY(-25%);
    }
  }

  .main-container {
    margin-top: 2rem;

    .entry-title {
      font-weight: bold;
    }

    .entry-content {
      > p {
        font-size: 1.2rem;
        line-height: 2;
      }
    }

    .entry-meta {
      margin: 2rem 0;

      .author-card {
        padding: 1rem 1.5rem;
        border-radius: 8px;
        background-color: $yellow;
        box-shadow: #bdc3c7 0 5px 5px;

        .avatar {
          float: left;
          display: block;
          width: 6rem;
          height: 6rem;
          margin: 0 auto;
          border: 0.4rem solid $white;
          border-radius: 6rem;
        }

        .author-link {
          float: left;
          display: block;
          margin: 0.75rem 1rem;
          text-align: center;
          color: $white;
          font-size: 2.5rem;
          font-weight: bold;
        }

        .author-intro {
          clear: both;
          padding-top: 1rem;
          line-height: 2;
        }
      }

      .tags-group {

      }
    }
  }

  #disqus_thread {
    margin: 2rem 0;
  }
}
