@import "../base/mixins";

/* -------------------------------------------- \
  Volunteer Join template layouts settings
\ --------------------------------------------- */
.page-template-volunteer-join {
  font-size: 1.1rem;

  .entry-content p {
    font-size: 1.2rem;
  }

  /**
   * [volunteer-join page form]
   */
  .join-us-container {

    .join-us-title {
      margin: 0;
      padding: .75rem;
      border-radius: 5px 5px 0 0;
      font-weight: bold;
      text-align: center;
      color: $white;
      background-color: $purple;
    }

    .wpcf7-form {
      margin-bottom: 1rem;
      padding: 1.5rem 1.5rem 2rem;
      border-radius: 5px;
      background-color: $form-bg-color;
      box-shadow: 0 4px 0 0 $form-bg-shadow;


      label {
        padding-bottom: .3rem;
        font-size: 1.1rem;
        font-weight: bold;
      }

      .wpcf7-form-control-wrap {
        display: inline-block;
        width: 100%;
        margin-bottom: 1.5rem;

        .wpcf7-form-control {
          margin: 0;
          border-width: 3px;

          &.wpcf7-not-valid {
            border-color: $red;
          }
        }

        .wpcf7-not-valid-tip {
          color: $red;
        }
      }

      input[type="text"],
      input[type="number"],
      input[type="phone"],
      input[type="email"],
      textarea {
        box-sizing: border-box;
        padding: 0.6rem 1.2rem;
        border: 0;
        box-shadow: 0 4px 0 0 #e5e5e5;
        border-radius: 5px;
        font-size: 1rem;
        background-color: $white;
        color: $input-color;
      }

      textarea {
        min-height: 6rem;
      }

      input[type="submit"] {
        @include cta-btn($yellow);
        display: block;
        width: 100%;
        padding: .3rem 0;
        margin-bottom: 0;
        border-color: transparent;

        &:hover,
        &:active {
          margin-bottom: -4px;
        }
      }

      .wpcf7-not-valid-tip {
        display: block;
        padding: .5rem .2rem 0;
        font-weight: bold;
      }

      .wpcf7-response-output {
        margin: 0 0 1em;
        padding: .2em 1em 0;
        background-color: #f1f1f1;
        border-radius: 5px;
        font-weight: bold;

        &.wpcf7-mail-sent-ok { color: $green; }
        &.wpcf7-validation-errors { color: $red; }
        &.wpcf7-mail-sent-ng { color: $red; }
        &.wpcf7-spam { color: $red; }
      }

    }
  }

  .join-us-container .wpcf7 {
    .ajax-loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.loading {
      background-color: $white;
      border-radius: 5px;
      box-shadow: 0 4px 0 0 #f1f1f1;

      .ajax-loader { display: block; }
      .wpcf7-form > p :not(.ajax-loader) {
        opacity: 0;
      }
    }
  }
}

@media #{$medium-up} {
  .page-template-volunteer-join {

    .join-us-container .wpcf7-form {
      textarea {
        min-height: 15rem;
      }

      input[type="submit"] {
        float: right;
        width: 8rem;
      }
    }
  }
}